* {

}

body {

}

/* Header Styles */
.header {
    position: absolute;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    top: 0;
    width: 100%;
}

.navigation {
    list-style-type: none;
}

.nav-item {
    display: inline-block
} 

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    cursor: pointer;
}


/* Footer Styles */
.footer {
    position: absolute;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: grey;
}

.footer a:hover {
    color: black;
    transition: 200ms ease-in;
}
