:root {
    --header-height: 64px;
    --footer-height: 64px;
}

* {

}

body {

}

/* Header Styles */
.header {
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    top: 0;
    height: var(--header-height);
    width: 100%;
}

.navigation {
    list-style-type: none;
}

.nav-item {
    display: inline-block
} 

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    cursor: pointer;
}

/* Content Styles */
.content {
    /* height: 100vh; */
    width: 100%;
}

/* Footer Styles */
.footer {
    /* position: absolute; */
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    /* bottom: 0; */
    height: var(--footer-height);
    width: 100%;
}

.footer a {
    color: grey;
}

.footer a:hover {
    color: black;
    transition: 200ms ease-in;
}
