:root {
    --header-height: 64px;
    --footer-height: 64px;
    --content-pad-top-bot: 128px;
    --repo-btn-color: rgb(58, 58, 255);
    --contact-width: 500px;
}

* {

}

body {
    
}

p {
    font-size: 20px;
}

.content {
    width: 1080px;
}

.content-heading {
    margin-bottom: 40px;
}

.content-container {
    display: flex;
    align-items: center;
}

/* Header Styles */
.header {
    position: fixed;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    top: 0;
    height: var(--header-height);
    width: 100%;
}

.navigation {
    list-style-type: none;
}

.nav-item {
    display: inline-block
} 

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    cursor: pointer;
}

/* Portfolio Styles */
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.project-card {
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 4px #0000001a;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 800px;
    background-color: white;
}

.project-thumbnail {
    height: 400px;
    width: 400px;
}
.project-thumbnail img {
    height: 400px;
    width: 400px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    padding: 0px 16px;
    
}

.project-links a {
    display: inline-block;
    margin: 4px;
    padding: 8px 12px;
    border: 2px solid var(--repo-btn-color);
    border-radius: 4px;
    font-size: 14px;
}

#app-btn {
    color: white;
    background-color: var(--repo-btn-color);
}

#repo-btn {
    color: var(--repo-btn-color);
}

/* About Styles */
.about {
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

#about-image {
    margin: 8px 5% 8px 8px;
}

#about-info {

}

/* Skills Styles */
.skillsText {
    text-align: center;
}

/* Contact Styles */
.content-wrapper {
    background-color: darkgray;
    padding: 24px;
}

.content {
    padding: var(--content-pad-top-bot) 0px;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--contact-width);
    gap: 8px;
}

.contact-form input {
    /* width: var(--contact-width); */
}

.contact-form textarea {
    /* width: var(--contact-width); */
    height: 100px;
}

/* Footer Styles */
.footer {
    /* position: absolute; */
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    /* bottom: 0; */
    height: var(--footer-height);
    width: 100%;
}

.footer a {
    color: grey;
}

.footer a:hover {
    color: black;
    transition: 200ms ease-in;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  